body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-weight: 800;
  font-size: 80px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -55px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: underline;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperatures-min {
  opacity: 0.6;
}
